<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LA HE/ID Confirmation Sheet Info</title>
    <meta name="description" content="Sweep information by date">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="/style.css">
    
    <script type="text/javascript" src="/elm.js"></script>
  </head>
  <body class="athelas ma3">
    
    <main role="main">
      <div id="root">
      </div>
    </main>
    
    <footer class="tc">
      <!-- View Source Button -->
      <a href="https://glitch.com/edit/#!/la-heid-confirmation-sheets">
        <img src="https://cdn.glitch.com/2bdfb3f8-05ef-4035-a06e-2043962a3a13%2Fview-source%402x.png?1513093958802" alt="view source" height="33">
      </a>
      <p>
        Data retrieved from the city of LA by <a href="https://twitter.com/DotKohlhaas">@DotKohlhaas</a>
      </p>
      <p>
        Made with <a href="https://glitch.com">Glitch</a>!
      </p>
    </footer>

    

    <script type="text/javascript">
      var main = Elm.Main.init({ 
        node: document.querySelector('#root')
      });
    </script>
  </body>
</html>
